[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
connexion = {extras = ["swagger-ui"], version = "*"}
gevent = "*"
joblib = "*"
xgboost = "*"
pandas = "*"
numpy = "*"

[dev-packages]
jupyterlab = "*"
seaborn = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
